<a href="https://colab.research.google.com/github/AlishaJoy/OOPS/blob/main/OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OOP 

### **Classes , Methods ,Class variables**
Class variables are the variables that are shared in all the instances of the class.

In [ ]:
class employee:
  raised = 1.04
  emp_num = 0
  def __init__(self,first,last,sal):
    self.fn = first
    self.ln = last
    self.sal = sal
    
    employee.emp_num += 1

  def fullname(self):
    return '{} {}'.format(self.fn,self.ln)
  def apply_raise(self):
    self.sal = int(self.sal * employee.raised)

In [ ]:
emp1 = employee('kiran','john',30000)
print(emp1.fn)
print(emp1.fullname())

kiran
kiran john

In [ ]:
print(emp1.sal)
emp1.apply_raise()
print(emp1.sal)

30000
31200

create a class to keep track of number of employees

In [ ]:
# class employee:
#   emp_num = 0
# inside init method put incrementer 
emp2 = employee('keeran','john',30000)
print(employee.emp_num)

1

### **Class methods and static methods**
Regular methods of the class automatically take in the instances as self 
To take class as the first argument , we use a decorator 
`@classmethod `
` def abc(cls,kkk):`
`  pass`

In [ ]:
class employee:
  raised = 1.04
  emp_num = 0
  def __init__(self,first,last,sal):
    self.fn = first
    self.ln = last
    self.sal = sal
    
    employee.emp_num += 1

  def fullname(self):
    return '{} {}'.format(self.fn,self.ln)
  def apply_raise(self):
    self.sal = int(self.sal * employee.raised)

  @classmethod
  def set_amt(cls,amount):
    cls.raised = amount
  
employee.set_amt(1.056)
print(employee.raised)

1.056

Create an employee by splitting a single string seperated by -

In [ ]:
emp_str_1 = 'Sam-Alex-20000'
emp_str_2 = 'Mark-Tommy-30028'
first , last , sal = emp_str_1.split('-')
new_emp1 = employee(first,last,sal)
first,last,sal = emp_str_2.split('-')
new_emp2 = employee(first,last,sal)

print(new_emp1.sal)
print(new_emp1.fullname())
print(new_emp2.fullname())

20000
Sam Alex
Mark Tommy